@import "~antd/dist/antd.css";

@keyframes slide {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(2000%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(900px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(35deg);
  }
}

body {
  background-color: #282c34;
}

body,
html {
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1vmin);
  font-family: monospace;
}

.ant-btn-ghost {
  color: white;
}

.App-logo {
  height: 90px;
}

.ribbon,
.ribbon2 {
  display: flex;
}

.ribbon > .App-logo {
  animation: rotate 1.5s infinite both steps(2, start);
}

.ribbon2 > .App-logo {
  animation: rotate 1.5s infinite reverse steps(2, start);
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 210px);
}
